:root {
    --brown: #3E1404;
    --brown2: #6A2B05;
    --brown3: #3E1404;
    --bisque: #e4bc84;
    --bisque2: #FFEDDB;
    --bisque3: #f5ac63;
  }

  iframe {
    display:grid;       
}

.body{
  overflow: hidden;
}

.home{
    background-color:var(--bisque);
}

.img{
    width:92.5%;
    height:92.5%;
    margin:0%;
    margin-top: 1%;
}

.photos{
    margin:0%;
    margin-top:10%;
    margin-bottom:15%;
}

.photos2{
    margin:0%;
    margin-top:5%;
    margin-bottom:10%;
}

.img1{
    border:black solid;
    border-radius: 50%;
    width:30%;
    height:30%;
    margin:0%;
}

.img1:hover{
    transition-duration: 1s;
    transform: scale(1.025);
    border-radius: 25%;}


.header1{
    font-size: 600%;
    font-family: 'Merriweather', serif;
    letter-spacing: 4px;
    background-color:var(--bisque);
    position:relative;
    margin-top: 10%;
    margin-bottom: 0%;
}

.header2{
    background-color: var(--brown);
    font-size: 400%;
    color:var(--bisque); 
    opacity:0.85;
    font-family: 'Merriweather', serif;
    letter-spacing: 5px;
    position:relative;
    margin-top: 20%;
    margin-bottom: 5%;
}

.header2:hover{
    opacity:1;
    transition-duration: 1s;
    transform: scale(1.01);
}

.header4{
    font-size: 225%;
    color: black solid;
    font-family: 'Merriweather', serif;
    position:relative;
    margin: 0%;
    padding: 0%;
}

.header5{
    font-size: 140%;
    color: black solid;
    font-family: 'Merriweather', serif;
    position:relative;
    margin: 0%;
    margin-top: 10%;
    padding: 0%;
    align-items: center;
}

.subheading{
    font-family: 'Satisfy', cursive;
    font-size: 250%;
    padding: 5%;
    padding-top: 5%;
    padding-bottom: 15%
}

.subheading3{
    font-family: 'Satisfy', cursive;
    font-size: 100%;
    padding-top: 0.5%;
    color:var(--bisque);
    letter-spacing:10px;
}

.subheading4{
    font-size: 125%;
    color:var(--bisque);
}


.subheading2{
    font-family: 'Satisfy', cursive;
    font-size: 200%;
    color:var(--bisque);
    opacity:0.85;
    background-color:var(--brown);;
    padding:0%;
    margin: 0%;
}

.subheading2:hover{
    opacity:1;
    transition-duration: 1s;
    transform: scale(1.01);
}

.button{background-color:var(--brown);
    color:var(--bisque);
    font-size: 200%;
    font-family: 'Merriweather', serif;
    border:var(--brown);
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 0% 5%;
    margin-top: 0%;
    margin-bottom: 12.5%;
    transition-duration: 0.5s;}

.button1{background-color:var(--brown);
    color:var(--bisque);
    font-size: 125%;
    font-family: 'Merriweather', serif;
    border:var(--brown);
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 0% 5%;
    transition-duration: 0.5s;}
        
.button:hover{background-color:var(--bisque2);
                color:var(--brown)}

.button2{background-color:var(--brown);
        color:var(--bisque);
        font-size: 175%;
        border:var(--brown);
        border: 2px solid var(--brown);
        border-radius: 5px;
        padding: 0% 5%;
        margin: 1%;
        margin-top: 0%;
        margin-bottom: 5%;
        transition-duration: 0.5s;}
                        
.button2:hover{background-color:var(--bisque2);
              color:var(--brown)}


svg path{
    fill: var(--brown2);
    stroke:var(--bisque2);
    stroke-width: 0.5;
    transition-duration: 1.5s;
}

svg path:hover {
    fill: var(--brown3);
    cursor: pointer;
}

.map{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:98%;
    margin: 0%;
    padding: 0%;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:96.5%;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
  }

.header3{
    background-color:var(--brown);;
    font-size: 100%;
    color:var(--bisque);
    opacity:0.85;
    font-family: 'Merriweather', serif;
    position:relative;
    padding:1%;
    margin-top: 35%;
    margin-bottom: 5%;
}

.header3:hover{
    opacity:1;
    transition-duration: 1s;
    transform: scale(1.01);
}

hr{
    border-top: black solid;
}

.education{font-size: 30px;}
.title{font-size: 30px;}


.turban{
    width: 180px;
    height: 180px;
    display: inline-block;
}

.header{
    background-color:var(--brown);
    margin: 0%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}

.fa-house{font-size: 20px;
    color:var(--bisque);
    transition-duration: 1s;
    margin-left: 10px;
    margin-top:4px;
    float:left;
}
                    
.fa-house:hover{transform: scale(1.05);
    color:var(--bisque2);}

@media (max-width: 768px) {
    
.subheading3{
    font-size: 150%;
}

.subheading4{
    font-size: 150%;
}

.header1{
    font-size: 700%;
}

.subheading{
    font-size: 350%;
}

.button{
    font-size: 300%;
}

}